
.page-artikels {
  padding: 9rem 2% 1rem;
}

.page-artikels .page-artikel {
  max-width: 90rem;
  margin: 1;
}
.page-artikel h1, .page-artikel h2, .page-artikel h3 {
  font-family: var(--harga-font);
  padding: 1rem 0 0;
}

.page-artikel h1 span, .page-artikel h2 span, .page-artikel h3 span {
  color: var(--bash);
}

.page-artikel .detail-tanggal {
  font-size: 8px;
}

.page-artikel p {
  text-align: justify;
}

.page-artikel .note-artikel {
  font-family: var(--body1-font);
}

.page-artikel p span {
  font-style: italic;
  color: var(--alpa);
}
.page-artikel p .heder3 {
  font-family: var(--harga-font);
  font-style: normal;
  font-size: 1.8rem;
  color: #fff;
}
.page-artikel p .heder3 span {
  font-style: normal;
  color: var(--bash);
}

.page-artikel .baca-juga {
  margin-top: 20px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--alpa);
}

.page-artikel .baca-juga h2 {
  margin-bottom: 5px;
}

.page-artikel .baca-juga h3 {
  font-family: var(--harga-font);
}

.page-artikel .baca-juga ul {
  list-style: none;
  padding: 0;
}
.page-artikel .baca-juga li {
  margin-bottom: 5px;
}

.page-artikel .baca-juga a {
  color: var(--bash);
}

#disqus_thread a {
  color: var(--bash);
}

#disqus_thread .disqus-footer {
  display: none !important;
}

#disqus_thread iframe {
  display: none !important;
}
