@import url(https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Kavoon&family=Miltonian+Tattoo&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rum+Raisin&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Sniglet:wght@400;800&display=swap);

:root {
  --bash: #f4d430;
  --alpa: #f7e378;
  --bg: #010101;
  --kin: #133;
  --pita: #e00;
  --blok: #000;
  --text: #fff;
  --btn: #182d62;
  --harga: #008000;
  --opsi: #ff7f00;
  --abstrak: linear-gradient(135deg, #ffd099, #e5c2ad, #ccb5c1, #b3a7d4, #9999e8);
  --linear: linear-gradient(45deg, #f4d430, #000);
  --lenear1: linear-gradient(135deg, #3e1d0a, #6c2604, #5c1817, #844205);
  --judul-font: "Kavoon", serif;
  --body1-font: "Nunito", serif;
  --body2-font: "Sniglet", serif;
  --harga-font: "Rum Raisin", serif;
  --mouse-font: "Mouse Memoirs", serif;
  --bonus: "Miltonian Tattoo", serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body1-font);
  background-color: var(--bg);
  color: var(--text);
  font-size: 1.4rem;
}


.game {
  padding: 0 1% 1rem;
}

.guess-game {
  text-align: center;
  display: fixed;
  }

 .guess-game #colorText {
  font-size: 90px;
  font-family: var(--body2-font);
  margin: 20px 0;
  font-weight: bold;
  text-shadow: 0 0 10px var(--bg);
  }
.guess-game button {
  padding: 10px 20px;
  font-size: 2rem;
  margin: 10px;
  font-family: var(--body2-font);
  border: 1px solid var(--blok);
  border-radius: 5px;
  color: var(--text);
  cursor: pointer;
  background-color: var(--opsi);
  font-weight: 100;
  user-select: none;
  height: 40px;
  }
.guess-game button:active {
  background-color: var(--pita);
  transform: translateY(3px);
  }
  
.guess-game #timer {
  font-size: 1.5rem;
  color: var(--pita);
  align-items: center;
  }
  
.guess-game #gameOver {
  font-family: var(--mouse-font);
  color: var(--blok);
  font-size: 2.5rem;
  margin-top: 20px;
  }

  


/* Suit game */
.suit-game h1, .rubik-game h1 {
  margin-bottom: 1rem;
  text-align: left;
  font-size: 3rem;
  margin-bottom: 3rem;
  font-family: var(--judul-font);
  font-style: italic;
  text-shadow: 0 0 5px #000;
}
.suit-game h1 span, .rubik-game h1 span {
  color: var(--bash);
}


.suit-game .choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  max-width: 100%;
  margin: 10px auto;
  }
  
.suit-game .choices button {
  width: 30wh;
  height: 10vh;
  background-color: var(--bg);
  font-family: var(--body2-font);
  color: var(--bg);
  font-weight: bold;
  font-size: 7rem;
  border: 1px solid var(--bash);
  border-radius: 7px;
  box-shadow: 0 2rem var(--bash);
  margin: 2px;
  cursor: pointer;
  font-weight: 100;
  }
  
.suit-game .choices button:hover {
background-color: #000;
}
  
.suit-game .choices button:active {
background-color: var(--pita);
box-shadow: 0 5px var(--bash);
transform: translateY(2.5rem);
}

.suit-game .result {
margin-top: 30px;
font-size: 20px;
color: #fff;
text-align: center;
min-height: 50px;
}

.suit-game .result span {
color: var(--bash);
}

.suit-game .hasilnya {
font-size: 8rem;
}


/* Rubik 3x3 */
.rubik-game .rubik-container {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
  max-width: 90vh;
  justify-content: center;
  }

.rubik-game .rubik-face {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  gap: 2px;
  max-width: fit-content;
  margin: auto;
  }

.rubik-game .rubik-cell {
  width: 100%;
  aspect-ratio: 1;
  background-color: #fff;
  border: 2px solid #000;
  }

.rubik-game .red { background-color: #e13; }
.rubik-game .blue { background-color: #12d; }
.rubik-game .green { background-color: green; }
.rubik-game .yellow { background-color: #fe5; }
.rubik-game .orange { background-color: #e72; }
.rubik-game .white { background-color: #eef; }

.rubik-game .controls {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1px;
  justify-content: center;
  text-align: center;
  margin-top: 2px;
  }

.rubik-game .controls button {
  width: 10rem;
  padding: 10px;
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
  background: var(--linear1);
  box-shadow: 0 2px 4px #006;
  font-family: var(--body2-font);
  gap: 2px;
  }

.rubik-game .shufflebtn {
  width: 70%;
  font-family: var(--body2-font);
  font-weight: 100;
  background: var(--abstrak);
  box-shadow: 0 2px 4px #000;
  justify-content: center;
  text-align: center;
  }

.rubik-game .controls button:active, .rubik-game .shufflebtn:active {
  background: var(--pita);
  transform: translateY(5px);
  }
