@import url(https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Kavoon&family=Miltonian+Tattoo&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rum+Raisin&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap);

@font-face {
      font-family: 'Bash';
      src: url('../fonts/misbah.ttf') format('truetype');
    }
@font-face {
      font-family: 'Bash1';
      src: url('../fonts/kaflamim.ttf') format('truetype');
    }

body {
  background: #000;
  font-family: "Nunito", serif;
  }
.container {
  max-width: 80wh;
  margin: auto;
  padding: 20px;
  }
.container a {
  text-decoration: none;
}
.surah {
  background-color: #444;
  border-radius: 12px;
  border: 2px solid #fd0;
  padding: 15px 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
.surah-info {
  display: flex;
  align-items: center;
  color: #fff;
  }
.surah-number {
  font-weight: bold;
  font-size: 30px;
  margin-right: 17px;
  width: 30px;
  text-align: center;
  color: #fff;
  }
.surah-detail {
  display: flex;
  flex-direction: column;
  }
.surah-title {
  font-size: 18px;
  font-weight: bold;
  }
.surah-subtitle {
  font-size: 14px;
  color: #fda;
  }
.surah-arabic {
  font-family: 'Bash1', serif;
  direction: rtl;
  font-size: 24px;
  color: #fff;
  }
.qs-full {
  padding: 2px 5px 0;
}
.qs-name {
  text-align: justify;
  font-family: 'Bash', serif;
  direction: rtl;
  font-size: 18px;
  line-height: 40px;
  color: #fff;
}
.qs-name p .klik {
  color: #fd0;
  cursor: pointer;
}
.qs-name p .hidden {
  display: none;
}
.btn-prevnext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.btn-prevnext a {
  text-decoration: none;
}
.prev, .next {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: 1px solid #fc0;
  width: 130px;
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
  margin: 5px;
  font-size: 10px;
}
.prev:hover, .next:hover {
  background-color: #fd0;
}

.controls {
  position: fixed;
  top: 65vh;
  left: 15px;
  z-index: 999;
  background: #fd0;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 0 0 10px rgba(225,196,0,0.6);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  }
.controls button {
  font-size: 18px;
  margin: 0 1px;
  padding: 1px 5px;
  background: none;
  border: none;
  cursor: pointer;
  }
.controls #mins, .controls #plus  {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #000;
  color: #000;
  font-weight: bold;
  font-size: 12px;
    }
.controls #speedDisplay {
  margin: 0;
  font-size: 10px;
  }
