@import url(https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Kavoon&family=Miltonian+Tattoo&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rum+Raisin&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap);

:root {
  --bash: #f4d430;
  --alpa: #f7e378;
  --bg: #010101;
  --kin: #133;
  --pita: #e00;
  --blok: #000;
  --text: #fff;
  --btn: #182d62;
  --harga: #008000;
  --linear: linear-gradient(45deg, #f4d430, #000);
  --nav: linear-gradient(190deg, rgba(0,0,4,0.5), rgba(25,22,211,0.6), rgba(0,0,0,0.6));
  --navhp: linear-gradient(200deg, rgba(0,0,4,0.8), rgba(25,22,211,0.8), #000);
  --judul-font: "Kavoon", serif;
  --body1-font: "Nunito", serif;
  --sdbar-font: "Caveat", cursive;
  --harga-font: "Rum Raisin", serif;
  --bonus: "Miltonian Tattoo", serif;
}
